.menu--titre {
  font-family: Shrikhand, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background-color: white;
  margin: auto;
  font-family: "Roboto";
}

ul {
  padding: 0;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .titre__menu {
    font-size: x-large;
  }
}

header {
  margin: auto;
  width: 100%;
}
header .logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}
header .form_container {
  text-align: center;
  width: 100%;
  padding: 1em 0 1em;
  background-color: #ebebeb;
  box-shadow: inset 1px 1px 1px 1px #c5c5c5;
}
header .form_container .map {
  padding: 5px;
}
header .form_container input {
  border: none;
  background-color: #ebebeb;
  outline: none;
  width: 88px;
  text-align: center;
}
header .form_container input::placeholder {
  color: black;
}
header .container--principal {
  background-color: #f8f8f8;
  padding-bottom: 2em;
}
header .intro {
  text-align: center;
  margin: auto;
  padding: 30px;
  font-weight: bolder;
}
header .discover {
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}
header .btn {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 1em;
  font-family: "Roboto", Courier New, Courier, monospace;
  color: white;
  border: none;
  box-shadow: 1px 5px 10px #adadad;
  font-weight: bold;
}
header .btn::hover {
  box-shadow: 0px 3px 4px 2px grey;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #9356DC, #FF79DA;
  transition: 750ms;
}
header .nav {
  width: 100%;
  justify-content: center;
  font-size: small;
}
header .nav h3 {
  margin-left: 2em;
}
header .nav ul {
  padding: 1em;
  margin: 10px;
  list-style: none;
}
header .nav .iconnav {
  color: #a3a3a3;
  padding: 0.5em;
}
header .nav .iconnav:hover {
  color: #9356DC;
}
header .nav li {
  border-radius: 20px;
  padding: 0.5em;
  margin: 10px;
  box-shadow: 1px 5px 10px #cfcfcf;
  background-color: #f8f8f8;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  position: relative;
}
header .nav li:hover {
  background-color: #9356DC;
  opacity: 0.3;
  transition: 1000ms;
}
header .nav li .iconnav {
  color: #a3a3a3;
  padding: 0.5em;
}
header .nav li .iconnav:hover {
  color: #9356DC;
}
header .nav span {
  background-color: #9356DC;
  color: white;
  border-radius: 31px;
  width: 15px;
  padding: 1px 1px;
  font-size: small;
  margin-left: -30px;
  position: absolute;
  left: 25px;
  margin-top: 5px;
}

.container--cartes {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.carte {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #cfcfcf;
  width: 90%;
  overflow: hidden;
  display: flex;
  overflow: hidden;
}
.carte .carte--img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.carte .carte--texte1 {
  margin: 0;
  font-weight: bold;
  padding: 2px;
  width: 50%;
}
.carte .carte--texte2 {
  margin: 0;
  padding: 2px;
  width: 50%;
}
.carte .carte--coeur {
  display: flex;
  justify-content: flex-end;
  font-size: large;
}
.carte .carte--coeur1 {
  position: relative;
  bottom: 30px;
}
.carte .carte--coeur2 {
  position: relative;
  top: -30px;
  left: -18px;
  opacity: 0;
}
.carte .carte--coeur2:hover {
  animation: animecoeur 1s;
  background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
.carte .carte--nouveau {
  position: absolute;
  right: 30px;
  background-color: #99E2D0;
  color: #2c916f;
  padding: 5px;
  width: 18%;
  margin-top: 20px;
  font-size: small;
  text-align: center;
}

@keyframes animecoeur {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
/* Pages des menu */
.header__menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
.header__menu .logo__menu {
  font-family: "Shrikhand", Courier New, Courier, monospace;
  font-size: x-large;
  text-decoration: none;
  color: black;
  margin-left: 60px;
}
.header__menu .arrow {
  text-decoration: none;
  color: black;
  padding: 0.5em;
}

.img__menu {
  width: 100%;
  height: 200px;
  z-index: 1;
  object-fit: cover;
}

.menu--principal {
  z-index: 2;
  background-color: #e2e2e2;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -30px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.menu--principal.coeur {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.menu--principal .menu--decoration {
  border-bottom: 1px solid #99E2D0;
}
.menu--principal .menu--ul {
  list-style: none;
  color: black;
  padding: 0;
}
.menu--principal .menu--li {
  display: flex;
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  box-shadow: 1px 5px 10px #797777;
  overflow: hidden;
}
.menu--principal .menu--li:hover .check--anime {
  width: 12em;
}
.menu--principal .menu--li:hover .menu--checkicon {
  display: initial;
  animation: animecheck 3s;
}
.menu--principal .menu--animationplats {
  animation: animemenu 2s;
}
.menu--principal .menu--checkicon {
  margin: auto;
  display: none;
  color: white;
  font-size: 2em;
}
.menu--principal .menu--check {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.menu--principal .check--anime {
  transition: width 1500ms;
  background-color: #99E2D0;
  border-radius: 0 30px 30px 0;
  width: 0;
}
.menu--principal .menu--lien {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
}
.menu--principal .menu--texte {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.5em 0em 0.5em 0.5em;
  overflow: hidden;
}
.menu--principal .menu--prix {
  display: flex;
  font-weight: bold;
  padding-top: 2em;
  margin-right: 1em;
}
.menu--principal .menu--texte__gras, .menu--principal .menu--ingredients {
  font-weight: bold;
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu--principal .menu--ingredients {
  font-size: medium;
  font-weight: lighter;
}
.menu--principal .btn {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 1em;
  font-family: "Roboto", Courier New, Courier, monospace;
  color: white;
  border: none;
  box-shadow: 1px 5px 10px #adadad;
  font-weight: bold;
}
.menu--principal .btn:hover {
  box-shadow: 0px 3px 4px 2px grey;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #9356DC, #FF79DA;
  transition: 750ms;
}

.menu--li li {
  animation: animemenu 1s linear;
  animation-fill-mode: both;
}

.menu--li li:nth-child(1) {
  animation-delay: 0.5s;
}

.menu--li li:nth-child(2) {
  animation-delay: 1s;
}

.menu--li li:nth-child(3) {
  animation-delay: 1.5s;
}

.menu--li li:nth-child(4) {
  animation-delay: 2s;
}

@keyframes animemenu {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animecheck {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.container--footer {
  background-color: #353232;
  padding: 10px;
}
.container--footer h3 {
  font-family: "Shrikhand";
  font-weight: normal;
  color: white;
  margin: 15px;
}
.container--footer ul {
  padding: 20px;
  list-style: none;
  line-height: 1.5em;
}
.container--footer a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
