.container--cartes {
    background-color: rgb(240, 240, 240); 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.carte__responsive {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
        display: grid;
            grid-template-columns: 40% 40%;
            grid-template-rows: 200px 200px;
            grid-column-gap: 50px;
            grid-row-gap: 50px;
            margin-bottom: 50px;
    }
    @include tablette {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

.carte
{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 1px 5px 10px rgb(207, 207, 207);
    display: flex;
    position: relative;
    width: 90%;
    @include desktop {
        width: 100%;
        margin: auto;
    }
    .carte--img {
        @include imgcarte;
    }
    .block--texte {
        margin-left: 10px;
        margin-top: 5px;
    }
    .carte--texte1 {
        margin: 0;
        font-weight: bold;
        padding: 2px;
        width: 50%;
    }
    .carte--texte2 {
        margin: 0;
        padding: 2px;
        width: 50%;
    }
    .carte--coeur {
        display: flex;
        justify-content: flex-end;
        font-size: large;
    }
    .carte--coeur1 {
        position: relative;
        bottom: 30px;
    }
    .carte--coeur2 {
        position: relative;
        top: -30px;
        left: -18px;
        opacity: 0;
        &:hover {
            animation: animecoeur 1s;
            background:-moz-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
            background: -webkit-linear-gradient(top, $color-primary 0%,$color-secondary 100%); 
            background: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color:transparent;
            opacity: 1;
        }
    }
}

.carte--nouveau {
    position: absolute;
    right: 19px;
    background-color: $color-tertiary;
    color: rgb(44, 145, 111);
    padding: 5px;
    margin-top: 20px;
    font-size: small;
    text-align: center;
    border-radius: 10%;
}

@keyframes animecoeur {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
} 
