

.header__index
{
    margin: auto;
    width: 100%;
    .logo {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .form_container {
        text-align: center;
        width: 100%;
        padding: 0.5em 0 0.5em;
        background-color:rgb(235, 235, 235);
        box-shadow: inset 1px 1px 1px 1px rgb(197, 197, 197);
        & .map {
            padding: 5px;
        }
        & .header__recherche {
            border: none;
            background-color:rgb(235, 235, 235);
            outline: none;
            width: 88px;
            text-align: center;
        }
        & .header__recherche::placeholder {
            color: black;
        }
    } 
    .header__background {
        background-color:rgb(248, 248, 248);
        padding-bottom: 2em;
    }
    .intro {
        text-align: center;
        margin: auto;
        padding: 30px;
        font-weight: bolder;
    }
    .discover {
        padding-bottom: 1em;
        width: 100%;
        text-align: center;
    } 
    .btn {
        display: flex;
        justify-content: center;
        margin: auto;
        @include btn;
        &::hover{
            @include btn--hover
        }
    }
    .container__principal  {
        width: 100%;
        justify-content: center;
        font-size: small;
        & .container__titre {
            margin-left: 2em;
            font-size: large;
        }
        & .container__choixrestaurant {
            padding: 1em;
            margin: 10px;
            list-style: none;
        }
        .iconnav {
            color: rgb(163, 163, 163);
            padding: 0.5em;
            &:hover {
                color: $color-primary;
            }
        }
        & .container__cartes{
            @include search;
            padding: 1em;
            text-align: center;
            position: relative;
            &:hover {
                background-color: #f2eafb;
                opacity: 0.9;
                transition: 1000ms;
                color: #9356dc;
            }
            .iconnav {
                color: rgb(163, 163, 163);
                padding: 0.5em;
            }
        
        }  

        .container__numero {
            background-color: $color-primary;
            color: white;
            border-radius: 31px;
            width: 15px;
            padding: 1px 1px;
            font-size: small;
            margin-left: -30px;
            position: absolute;
            left: 25px;
            margin-top: 5px;
        }
    }
        
}