@font-face {
    font-family: 'Shrikhand','cursive';
    src: url("MarianaCunha_3_05022021/font/Shrinkhand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto';
    src: url("font/roboto.ttf") format("truetype"); 
}