

body 
{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    z-index: 1;
}

ul {
    padding: 0;
    margin: 0;
}

@mixin btn {
    border-radius: 30px;
    background: linear-gradient( $color-primary, $color-secondary);
    padding: 1em;
    font-family: 'Roboto', Courier New, Courier, monospace;
    color: white;
    border: none;
    box-shadow: 1px 5px 10px rgb(173, 173, 173);
    font-weight: bold;
}

@mixin btn--hover {
    box-shadow: 0px 3px 4px 2px $shadow-color;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), $color-primary,$color-secondary;
    transition:750ms;
}