@mixin mobile-only {
    @media (min-width: 320px) and (max-width: 767px) { @content; }
}

@mixin search {
    border-radius: 20px;
    padding: 0.5em;
    margin: 10px;
    box-shadow: 1px 5px 10px rgb(207, 207, 207);
    background-color: rgb(248, 248, 248);
    font-weight: bold;
}

@mixin imgcarte {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}