

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-normal:black;
$shadow-color:grey;


$mobile1:320px;
$mobile: 767px;
$tablette1:768px;
$tablette:1146px;
$desktop1:1148px;
$desktop:1280px;

$font1: 'Shrikhand';
$font2: 'Roboto';