

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-normal:black;
$shadow-color:grey;

$mobilemin:320px;
$mobilemax: 425px;
$tablettemin:426px;
$tablettemax:768px;
$desktopmin:769px;
$desktopmax:1024px;

$font1: 'Shrikhand';
$font2: 'Roboto';