

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-normal:black;
$shadow-color:grey;


$mobilemin:320px;
$mobilemax: 767px;
$tablettemin:768px;
$tablettemax:1146px;
$desktopmin:1148px;
$desktopmax:1280px;

$font1: 'Shrikhand';
$font2: 'Roboto';