.container--footer {
    background-color: #353232;
    padding: 10px;
    @include mobile-only;
    & h3 {
        font-family: 'Shrikhand';
        font-weight: normal;
        color: white;
        margin: 15px;
        @include desktop {
            font-size: xx-large;
            display: flex;
            justify-content: center;
        }
    }
    & ul {
        padding: 20px;
        list-style: none;
        line-height: 1.5em;
        @include tablette {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: larger;
        }
    }
    & a {
        text-decoration: none;
        color: white;
    }
}