/* Pages des menu */
.header__menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    & .logo__menu {
        font-family: 'Shrikhand', Courier New, Courier, monospace;
        font-size: x-large;
        text-decoration: none;
        color: $color-normal;
        margin-left: 60px;
    }
    & .arrow {
        text-decoration: none;
        color: $color-normal;
        padding: 0.5em;
    }
}
.img__menu {
    width: 100%;
    height: 200px;
    z-index: 1;
    object-fit: cover;
}

.menu--principal {
    z-index: 2;
    background-color: rgb(226, 226, 226);
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -30px;
    padding-top: 10px;
    padding-bottom: 30px;
    &.coeur {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
    }
    .menu--decoration {
        border-bottom: 1px solid $color-tertiary;
    }
    .menu--ul {
        list-style: none;
        color: $color-normal;
        padding: 0;
    }
    .menu--li {
        display: flex;
        background-color: white;
        border-radius: 30px;
        margin: 10px;
        box-shadow: 1px 5px 10px rgb(121, 119, 119);
        &:hover {
            .check--anime {
                width: 12em;
            }
            
            .menu--checkicon {
                display: initial;
                animation: animecheck 3s;
            }
            
        } 
    }

    .menu--animationplats {
        animation:animemenu 2s;
    }
    
    .menu--checkicon {
        margin: auto;
        display: none;
        color: white;
        font-size: 2em;
       
    }
    .menu--check {
        display: flex;
        justify-content: center;
        padding-top:20px;
    }
    .check--anime {
        transition: width 1500ms;
        background-color: $color-tertiary;
        border-radius: 0 30px 30px 0;
        width: 0;
    } 
    .menu--lien{
        color: $color-normal;
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    .menu--texte {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0.5em 0em 0.5em 0.5em;
        overflow: hidden;
    }
    .menu--prix {
        display: flex;
        font-weight: bold;
        padding-top: 2em;
        margin-right: 1em;

    }
    .menu--texte__gras, .menu--ingredients {
        font-weight: bold;
        margin: 5px;
        white-space:nowrap;
        text-overflow:ellipsis;
         overflow:hidden;
    }
    .menu--ingredients {
        font-size: medium;
        font-weight: lighter;
    }

    .btn{
        display: flex;
        justify-content: center;
        margin: auto;
        cursor: pointer;
        @include btn;
        &:hover{
            @include btn--hover
        }
    }
    
}

@keyframes animecheck {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

@keyframes animemenu {
    from {
        -webkit-transform: scale(0);
            transform: scale(0);
        -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}