/* Pages des menu */
.header__menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    .logo__menu {
        font-family: 'Shrikhand', Courier New, Courier, monospace;
        font-size: x-large;
        text-decoration: none;
        color: $color-normal;
        margin-left: 60px;
    }
    .arrow {
        text-decoration: none;
        color: $color-normal;
        padding: 10px;
    }
}
.img__menu {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu--titre
{
    font-family: Shrikhand, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-weight: lighter;
    font-size:1.3em;
}

.menu--principal {
    z-index: 1;
    background-color: rgb(243, 243, 243);
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    padding: 1em;
    position: relative;
    .menu--tete {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 0 10px 10px;
    }
    .menu__coeur {
        font-size: 1.5em;
    }
    .menu--coeur2 {
        position: relative;
        right: 30px;
        opacity: 0;
        &:hover {
         animation: animecoeur 0.5s;
         background:-moz-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
         background: -webkit-linear-gradient(top, $color-primary 0%,$color-secondary 100%); 
         background: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        opacity: 1;
        font-size: x-large;
        } 
    }
    .menu--decoration {
        border-bottom: 1px solid $color-tertiary;
    }
    .menu--ul {
        list-style: none;
        color: $color-normal;
        padding: 0;
    }
    .menu--li {
        display: flex;
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 5px 10px rgb(121, 119, 119);
        overflow: hidden;
        margin: 10px 0px 10px 0px;
        &:hover {
            .check--anime {
                width: 30%;
                max-width: 100px;

            }
            .menu--checkicon {
                display: initial;
                animation: 1500ms linear  animecheck;
            }
        } 
    }

    .menu--animationplats {
        animation:animemenu 3s;
    }
    
    .menu--checkicon {
        margin: auto;
        display: none;
        color: white;
        font-size: 2em;
       
    }
    .menu--check {
        display: flex;
        justify-content: center;
        padding-top:20px;
    }
    .check--anime {
        width: 0;
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
        transition: width 500ms ease;
    } 
    .menu--lien{
        color: $color-normal;
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    .menu--texte {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.5em 0em 0.5em 0.5em;
        overflow: hidden;
    }
    .menu--prix {
        display: flex;
        font-weight: bold;
        padding-top: 2em;
        margin-right: 1em;

    }
    .menu--texte__gras, .menu--ingredients {
        font-weight: bold;
        margin: 5px;
        white-space:nowrap;
        text-overflow:ellipsis;
         overflow:hidden;
    }
    .menu--ingredients {
        font-size: medium;
        font-weight: lighter;
    }

    .btn{
        display: flex;
        justify-content: center;
        margin: auto;
        cursor: pointer;
        @include btn;
        &:hover{
            @include btn--hover
        }
    }
    
}

.menu--ul li{
    animation: animemenu 1s linear;
    animation-fill-mode: both;
}

.carte--nouveau {
    position: absolute;
    right: 19px;
    background-color: $color-tertiary;
    color: rgb(44, 145, 111);
    padding: 5px;
    margin-top: 20px;
    font-size: small;
    text-align: center;
}



.menu--ul li:nth-child(1) {animation-delay:.5s;}
.menu--ul li:nth-child(2) { animation-delay: 1s;}
.menu--ul li:nth-child(3) { animation-delay: 1.5s;}
.menu--ul li:nth-child(4) { animation-delay: 2s;}


@keyframes animemenu {
    0% {
       opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes animecheck {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

  
  
